body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #776e65;
}

#menu{
	position: absolute;
	width: 270px;
	height: 250px;

	top: 50%;
	left: 50%;
	margin: -135px 0 0 -125px;

	text-align: center;

	border: 3px solid #bbada0;
	border-radius: 15px;

	background-color: #ccc0b3;
	box-shadow: 2px 10px 5px #888;
}
		 
#menu p{
	color: #776e65;
}

#menu p a{
	font-weight: bold;
	color: #776e65;
}

#menu button{
	width: 80px;
	height: 25px;

	background-color: #8f7a66;

	border-style: none;
	border-radius: 5px;
	padding-bottom: 5px;

	font-size: 14px;
	font-weight: bold;
	color: #f9f6f2;
}

#points{
	position: absolute;
	width: 100px;
	height: 90px;   

	margin-top: 3px;

	top: 20px;
	right: 80px;

	border: 3px solid #bbada0;
	border-radius: 10px;

	background-color: #ccc0b3;
	box-shadow: 2px 10px 5px #888;  

	font-size: 20px;
	font-weight: bold;
	color: #f65e3b;

	text-align: center;
	vertical-align: middle;

	display: none;
}

#points h1{
	font-size: 40px;
}

#you-win{
	color: orange;
	font-size: 250px;
	text-align: center;
	display: none;

	background-color: #000;
	width: 100%;
	height: 100%;
	left:0;
	top:0;/*FF IE7*/
	filter:alpha(opacity=40);/*IE*/
	opacity:0.4;/*FF*/
	z-index:1;
	position:fixed!important;/*FF IE7*/
	position:absolute;/*IE6*/
	_top: expression(eval(document.compatMode &&
		document.compatMode=='CSS1Compat') ?
		documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
		document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/*IE5 IE5.5*/
}